extends layouts/main

block content
    if loginUser && user.id === loginUser.id
       .user-detail__column
            a(href=`/users${routes.editProfile}`) Edit Profile
            a(href=`/users${routes.changePassword}`) Change Password
    .user-detail__column    
        img(src=`/${user.avatarUrl}`, alt='user')    
        h4 Name
            h4=user.name
        h4 Email    
            h4=user.email

